/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*歸零設定*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*網頁開始*/

.mi-all {
    background-color: #fff796;
    background-image: url(img/bg-01.jpg);
    font-family: 微軟正黑體, 華康圓黑體, Arial, Helvetica;

    /*padding-bottom: 50px;*/
}

.mi-w {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

    overflow: hidden;
}

.mi-miba {
    max-width: 700px;
    height: 615px;
    position: relative;
    
    padding-top: 4%;
    margin-bottom: 6%;
}

/*bub*/
.mi-bub {
    width: 50px;
    position: absolute;
    display: block;
    left: 18%;
    top: 34%;
    font-weight: bold;
}

.mi-bub img{
    width: 114%;
}

@media screen and (min-width: 321px) {
    .mi-bub {
        left: 18%;
        top: 39%;
    }
}

@media screen and (min-width: 400px) {
    .mi-bub {
        left: 23%;
        top: 41%;
    }
}

@media screen and (min-width: 430px) {
    .mi-bub {
        left: 33%;
        top: 50%;
    }
}

@media screen and (min-width: 500px) {
    .mi-bub {
        left: 34%;
        top: 51%;
    }
}

@media screen and (min-width: 520px) {
    .mi-bub {
        left: 43%;
        top: 62%;
    }
}

@media screen and (min-width: 600px) {
    .mi-bub {
        left: 47%;
        top: 62%;
    }
}

/*TOPBANNER*/


.mi-tit {
    width: 88%;
    /*background-color: #fff;*/
    position: absolute;
    top: 4%;
    left: 6%;
}

.mi-tit p{
  opacity: 0;
}

.mi-logo {
    width: 50px;
    position: absolute;
    display: block;
    left: 70px;
    top: 19px;
    font-weight: bold;
}

.mi-logo img {
    width: 100%;
}

@media screen and (min-width: 700px){
.mi-logo {
    left: 130px;
    top: 25px;
}
    .mi-logo img {
    width: 150%;
    }    
}

.mi-tit img {
    width: 100%;
}

.mi-option {
    width: 120px;
    position: absolute;
    bottom: 3%;
    z-index: 5;
    margin-left: 5%;
}

.mi-option a {
    text-decoration: none;
    color: #101010;
    font-weight: bold;
}

/*滑入箭頭效果*/

.mi-option a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.mi-option a span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.mi-option a:hover span {
    padding-right: 15px;
}

.mi-option a:hover span:after {
    opacity: 1;
    right: 0;
}

/*大大小新*/

.mi-option li {
    float: left;
    margin: 5px;

    font-size: 20px;
}


.mi-shin {
    width: 90%;
    /*background-color: #fff;*/
    position: absolute;
    bottom: 2%;
    right: 7%;
}

.mi-shin img {
    width: 150%;
}

@media screen and (min-width: 360px) and (max-width: 399px) {
    .mi-shin img {
        width: 140%;
    }
    .mi-shin {
        right: 5%;
    }
    .mi-shin {
        bottom: -5%
    }

}

@media screen and (min-width: 400px) and (max-width: 419px) {
    .mi-shin img {
        width: 125%;
    }
    .mi-shin {
        right: 0%;
    }
    .mi-shin {
        bottom: -8%
    }

}

@media screen and (min-width: 420px) and (max-width: 519px) {
    .mi-shin img {
        width: 90%;
    }
    .mi-shin {
        right: -14%;
    }
    .mi-shin {
        bottom: -5%
    }
}

@media screen and (min-width: 520px) and (max-width: 599px) {
    .mi-shin img {
        width: 90%;
    }  
    .mi-shin {
        right: -21%;
    }
    .mi-shin {
        bottom: -25%
    }
}

@media screen and (min-width: 600px) {
    .mi-shin img {
        width: 80%;
    }
    .mi-shin {
        right: -20%;
    }
    .mi-shin {
        bottom: -31%
    }
}

/*商品區*/

.mi-migoods {
    background-color: #ffe401;
    border-radius: 15px;
    padding-top: 12%;
    padding-bottom: 7%;
}

.mi-migoods-nobgc {
    border-radius: 15px;
    padding-top: 12%;
    padding-bottom: 7%;
}

.mi-sectit {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10%;

    /*transform: translate(-78%);*/
}

/*.mi-sectit-tttwo{
    transform: translate(-45%);
}

.mi-sectit-ttthree{
    transform: translate(-76%);
}

.mi-sectit-ttfour{
    transform: translate(-97%);
}*/

.mi-sectit span {
    font-size: 16px;
}

/*商品區-商品*/

.mi-goods {
    display: flex;
    margin-bottom: 12%;

    padding: 0 3%;
}

.mi-goods-end{
    margin-bottom: 0%;
}

.mi-goods-item {
    width: 50%;

}

.mi-goods-item {
    flex: 1;
    margin-right: 5%;
}

.mi-goods-item img {
    width: 100%;
}

.mi-goods-item:nth-child(2n) {
    margin-right: 0;
}

.mi-goods-item-photo {
    width: 100%;
    height: 270px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 8%;

    border: 5px #fff solid;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;
}

.mi-goods-item-hover {}

.mi-goods-item-hover:hover img {
    opacity: 0.8;
}

.mi-goods-item-photo img {
    border-radius: 15px;
    height: 100%;

    position: absolute;
    transform: translate(-50%);

    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(8%);

    width: auto;
}

/*優惠區塊*/

.mi-goods-sale-photo {
    width: 100%;
    height: 270px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 8%;

    border: 5px #fff solid;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;
}

.mi-goods-sale-photo img {
    border-radius: 15px;
    height: 100%;

    position: absolute;
    transform: translate(-50%);

    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(8%);

    width: auto;
}


.mi-goods-item-tit {
    width: 100%;
    text-align: center;
    line-height: 40px;
    margin-bottom: 8%;
}

/*.mi-goods-item-go {
    height: 40px;
}*/

.mi-goods-item-go a {
    width: 60%;
    background-color: #fff51d;
    border-radius: 15px;
    text-decoration: none;
    color: #191919;
    padding: 10px 32px;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    border: 2px #191919 solid;

    text-align: center;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*.mi-goods-item-go a:hover{
  background-color: #b50023;
  font-weight: bold;
}*/

.mi-goods-item-go a:hover {
    box-shadow: none;
    font-weight: bold;

    -webkit-box-shadow: 1px 1px 2px 2px #ffe401 inset;
    -moz-box-shadow: 1px 1px 2px 2px #ffe401 inset;
    box-shadow: 1px 1px 2px 2px #ffe401 inset;
}

/*滑入箭頭效果*/

.mi-goods-item-go a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.mi-goods-item-go a span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.mi-goods-item-go a:hover span {
    padding-right: 15px;
}

.mi-goods-item-go a:hover span:after {
    opacity: 1;
    right: 0;
}

/*分隔線*/

.mi-line {
    border-top: 2px #505050 solid;
    border-style: dotted;

    width: 91%;
    margin: 0 auto;
}

/*底圖設計*/

.mi-bot {
    height: 50px;
    position: relative;
    margin-top: 8%;
    overflow: hidden;
}


.mi-bot-shin {
    display: block;
    /*margin: 0 auto;
    max-width: 700px;
    width: 100%;*/
    position: absolute;
    z-index: 5;
    /*margin-left: 50%;
    transform: translate(-50%);*/
}

.mi-bot-shin-left{
  left: 2%;
}

.mi-bot-shin-right{
  right: 3%;
}






